modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 21900
externalPort = 3000

[[ports]]
localPort = 21923
externalPort = 80

[userenv]

[userenv.shared]
SIGN_CERT_PEM = """
-----BEGIN CERTIFICATE-----
  MIIGlTCCBP2gAwIBAgIRAK5KDx5Kilfz/hCoi7Be5oUwDQYJKoZIhvcNAQELBQAw
  YDELMAkGA1UEBhMCR0IxGDAWBgNVBAoTD1NlY3RpZ28gTGltaXRlZDE3MDUGA1UE
  AxMuU2VjdGlnbyBQdWJsaWMgU2VydmVyIEF1dGhlbnRpY2F0aW9uIENBIERWIFIz
  NjAeFw0yNjAzMjIwMDAwMDBaFw0yNjEwMDYyMzU5NTlaMBoxGDAWBgNVBAMTD2Fw
  cC5taXNtYXJpLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAJTf
  hFW0Wm8lZwlzKTshTN5U/IFBuYqpx0d/5LNyj0fuZeEE+WWANwsMaOtXQoVBtl8Q
  8bjKL3HwnG9LXGfglES2OIBEygj/UO1PlsuUgEt/TGxko5IYgtXQEi8uuPl1ODdg
  9EQ2HaVQ0y5tzt70d5z12T1d+DJZ6H+Vmzr+pVyz4lez1jOlux9QV8EurerdeknS
  dhXO5VFSroCujUdxwBU+mKlrgNGhVSS5q77NUvmhNTTzh+jHWd7URPjxaYEgxL3n
  Z19aMqMwZWIB+z5jTTKYpCcJsdQvMjZuzZECsF7wl9cSPgt3+unVPuSyLl94I7jF
  XUwdyrJ4NP2ELXbs79MCAwEAAaOCAw4wggMKMB8GA1UdIwQYMBaAFGjAEhYYDq/O
  9oemMlejRlFdywcnMB0GA1UdDgQWBBQ3DHzMVrAZDfQA8lu8Lvrd5uLqPjAOBgNV
  HQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
  KwYBBQUHAwIwSQYDVR0gBEIwQDA0BgsrBgEEAbIxAQICBzAlMCMGCCsGAQUFBwIB
  FhdodHRwczovL3NlY3RpZ28uY29tL0NQUzAIBgZngQwBAgEwgYQGCCsGAQUFBwEB
  BHgwdjBPBggrBgEFBQcwAoZDaHR0cDovL2NydC5zZWN0aWdvLmNvbS9TZWN0aWdv
  UHVibGljU2VydmVyQXV0aGVudGljYXRpb25DQURWUjM2LmNydDAjBggrBgEFBQcw
  AYYXaHR0cDovL29jc3Auc2VjdGlnby5jb20wLwYDVR0RBCgwJoIPYXBwLm1pc21h
  cmkuY29tghN3d3cuYXBwLm1pc21hcmkuY29tMIIBhgYKKwYBBAHWeQIEAgSCAXYE
  ggFyAXAAdgDXbX0Q0af1d8LH6V/XAL/5gskzWmXh0LMBcxfAyMVpdwAAAZ0W5FRq
  AAAEAwBHMEUCIERBv1B9AmrPzRiXss4+uvS9/m69GBJuIkDs4KHdHVz7AiEAu/ht
  0R404/mCawGiSM3WU2yrF5zgQvGOKsOpoRSG0eEAdgDIo8R/x7OtuTVrAT9qehJt
  4zpOQ6XGRvmXrTl1mR3PmgAAAZ0W5FSqAAAEAwBHMEUCIQDmE6KgBUECUAqhz/8N
  +p6+z6wFYqJ3nGWE/gfYm/n68AIgES4/B7fvhpdEB4ty///SdQ5JlisibzjK91ZB
  tPDHGuoAfgBs/lAZQ6heqRa8UtEz5NzJHvFBHH0lhCDRc4CeGBjrOgAAAZ0W5FW2
  AAgAAAUABABFvwQDAEcwRQIgWFb3vv+EpxR4yJACW731IFvKSYm02qkV5Cixlf0B
  8qQCIQCGkpqJEgmliUomigbMYBeyRiG4wD2jUQSYDx3NcRTavTANBgkqhkiG9w0B
  AQsFAAOCAYEAOy2AZCKiiCrLSksrLBo7WlTiPCz/RwoIAznIHDpbuhd+LWiJlPp4
  Dj19IpbVp3y3sYx6eoI3KX4e2GXE0CQFAHHSxbbDdxkW+6pzegiefNRB3TC2KQbn
  sHCqN0aGJ055cXAK6nvhaYxoRct4ydacJ0AmLgw5mdXrj2tz7Mu/sCFbn9DqyA8a
  IhpPx+msxBIdj5r7uFQvkPqXc0nvJ+LMPn5MArFVFtFibVJpjV8ZFVPAxk2TI3OH
  kUQXhN54+VCr85keRmzQq0Myah2rQCyCM3dQrUNJ/4K7xdv61L55GU75xGad/oqi
  S5Thr0uCkQn/kOet2cRx6wtIgsyaaFl9aOZhe7U8wgtZDafogLhTSY3n8jYJC7er
  +noIHExpZlqcs7EZfybigB4n3ZbcXEdg4G1L96cy5+pWy8K5LVB5lCLz75jJctmD
  +Cdwy40agFbRzvjMHkrTU5t8yNiSmFLTkK5fwQK2oiaTs6kRSO1XSqnS0vkKjYwv
  9I3dc6tYUqOs
  -----END CERTIFICATE-----"""
