Package: com.mismari.protect
Name: Mismari Protect
Version: 4.0.0
Architecture: iphoneos-arm64
Description: Anti-Revoke, OCSP Block, SSL Unpin, Anti-Debug, File Shadow, DYLD Cloaking
Maintainer: Mismari
Author: Mismari
Section: Tweaks
